<nav>
  <ul class="header__list">
<!--    <li><a href="{{ '/' | prepend: site.baseurl }}">About</a></li>-->
    <li><a href="{{ '/Page_About/About' | prepend: site.baseurl }}">About</a></li>
    <li><a href="{{ '/Page_Projects/Projects' | prepend: site.baseurl }}">Current Projects</a></li>
    <li><a href="{{ '/Page_Legacy/Legacy' | prepend: site.baseurl }}">Legacy Projects</a></li>
    <li><a href="{{ '/Page_Codes/Codes' | prepend: site.baseurl }}">Codes</a></li>
    <li><a href="{{ '/Page_Data/Data' | prepend: site.baseurl }}">Data</a></li>
    <li><a href="{{ '/Page_Meetings/Meetings' | prepend: site.baseurl }}">Meetings</a></li>
<!--    <li><span class="popup__open">Contact</span></li>-->
  </ul>
</nav>
