---
layout: default
---
<section class="post">
    <div>
        <div class="post__header section-padding--half">
            <div class="grid-small">
            </div>
        </div>

        {% if page.image %}
        <div class="centre">
            <div>
                <img src="{{ page.image }}" itemprop="image"/>
            </div>
        </div>
        {% endif %}

        <div class="post__content section-padding">
            <div class="grid-small">
                <div id="markdown">
                    {{content}}
                </div>
            </div>
        </div>
    </div>
</section>
